/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Nov-2014, 13:02:41
    Author     : ANM
*/

header
{
    /*Empty Section*/
}

body
{
    background-image: url(..//images/mainImg005.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#h_div
{
    width: 100%;
    height: 100%;
}

#top_bar
{
    width: 100%;
    height: 75px;
    display: inline-block;
    background-image: url(..//images/FormImg.png);
}

#wrapper_div
{
    display: inline;
}

#logo_img
{
    position: absolute;
}

/*User Menu Options*/
ul
{
    list-style: none;
    padding: 5px;
}

.hidden_menu_options
{
    float: right;
    display: inline-block;
}

.hidden_menu_options > ul > li:hover ul, .user_options:hover
{
    height:80px;
}

.hidden_menu_options ul ul
{
    height: 0;
    padding: 1px;
    overflow: hidden;
}

.logged_in_user
{
    text-decoration: none;
    text-align: center;
}

.logged_in_user, .hidden_options, .hidden_menu_options button
{
    display: block;
    width: 120px;
    font: bold 16px/100% "Trebuchet MS", Helvetica, sans-serif;
    color: #66CC99;
    margin-right: 10px;
}

.hidden_options
{
    background-color: #303030;
    border-bottom: black;
}

/*Menu Styling*/
#menu_bar, #sub_menu_bar
{
    text-align: center;
}

.icon_btn,.image_type
{
    margin: 5px;
    width: 25px;
    height: 25px;
    border: 0px;
}

.button_tbl
{
    display: inline;
}

.hidden_btn
{
    cursor: pointer;
    display: none;
}


.icon_btn:hover, .image_type:hover
{
    outline: 3px solid #66CC99;
}

#container_div
{
    width: 100%;
    height: 100%;
}

#side_bar_div 
{
    display: inline-table;
    float: left;
    width: 17%;
    height: 100px;
    background: #303030;
    opacity: 0.7;
    border-right: solid 20px #66CC99;
    margin-left: 20px;
}

#main_container_div 
{
    display: inline-table;
    float: right; 
    border-left: solid 20px #66CC99;
    background: #303030;
    opacity: 0.7;
    width: 72%;
    height: 610px;
    margin-right: 20px;
    text-align: center;
}
/*Favourites Table Css*/
.favourites_table
{
  margin-left: 10px;  
}

/*Main Table CSS*/
table
{
    text-align: center;
    table-layout: fixed;
    margin-left: 10px;
}

.main_tbl_row:hover, tr:hover
{
    cursor: pointer;    
}

th
{
    font: bold 18px/100% "Trebuchet MS", Helvetica, sans-serif;
    color: #66CC99;
    height: 50px;
    text-align: left;
}

td
{
    font: bold 16px/100% "Trebuchet MS", Helvetica, sans-serif;
    color: #66CC99;
    height: 50px;
    text-align: left;
}

.row_img
{
    margin-right: 10px;
}

.media_a
{
  font: bold 16px/100% "Trebuchet MS", Helvetica, sans-serif;
  color: #66CC99;
  text-decoration: none;
}

.hover_enabled:hover
{
    background-color: #505050;
    box-shadow: 0 0 10px;
}

/*Error Message*/
#error_msg
{
    text-align: center;
    display: none;
    font: bold 16px/100% "Trebuchet MS", Helvetica, sans-serif;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    color: red;
}

/*#new_folder_btn:focus ~ .modal_box > div
{
    display: block;
    
}*/

//Alert
.modal_div
{
    position: fixed;
/*    font: bold 12px/100% "Trebuchet MS", Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    pointer-events: none;*/
}

.modal_div:target
{
/*	opacity:1;
	pointer-events: auto;*/
}

.modal_div > modal_box
{
/*	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
        font: bold 12px/100% "Trebuchet MS", Helvetica, sans-serif;
        display: block;*/
}

.modal_box
{
    font: bold 12px/100% "Trebuchet MS", Helvetica, sans-serif;
    color: #66CC99;
    display: none;
    margin: 5px;
}

.modal_input
{
    font: bold 12px/100% "Trebuchet MS", Helvetica, sans-serif;
    width: 200px;
    height: 20px;
}

.modal_btn
{
    font: bold 12px/100% "Trebuchet MS", Helvetica, sans-serif;
    color: #66CC99;
    margin: 10px;
    background-image: url(..//images/FormImg.png);
    width: 80px;
    height: 30px;
    
}

#main_audit_container_div 
{
    margin-left: 250px;
    display: block;
    text-align: center; 
    border: solid 6px #66CC99;
    background: #303030;
    opacity: 0.7;
    width: 73%;
    height: 600px;
    margin-right: 20px;
    text-align: center;
}

#btn_div
{
    margin-top: 50px;
}

#back_btn
{
    font: bold 16px/100% "Trebuchet MS", Helvetica, sans-serif;
    margin: 15px;
    color: #66CC99;
    background-image: url(..//images/btnImg.png);
    border: 2px solid #282828;
    border-radius: 5px;
    box-shadow: 1 1 3px;
    text-align: center;
    width: 100px;
    height: 40px;
}