/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Nov-2014, 13:02:41
    Author     : ANM
*/
#logo_div
{
    /* text-align: right;
    padding: 50px;*/
}

 body
 {
     background-image: url(..//images/mainImg005.jpg);
     background-attachment: fixed;
     width: auto;
     height: auto;
 }

/*Form Styling*/
#main_form_div
{
    text-align: center;
    width: auto;
    height: auto;
}

form
{	
    width:520px;
    background-image: url(..//images/FormImg.png);
    border: solid 2px #282828;
    border-radius: 10px;
    overflow: hidden;   
    display: inline-block;
}

h1
{
    font: bold 35px/100% "Trebuchet MS", Helvetica, sans-serif;
    padding: 0px;
    border: none;
    color: #282828;
    text-align: center;

}

/*Label Styling*/
label
{
    font: bold 14px/100% "Trebuchet MS", Helvetica, sans-serif;
    padding: 0px;
    text-align: right;
    float: left;
    width:140px;
    color: #66CC99;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 3px;
	
}

/*Secondary Header*/
h2
{
    font: bold 14px/100% "Trebuchet MS", Helvetica, sans-serif;
    padding: 0px;
    text-align: center;    
    color: #66CC99;
}

/*Textfield Styling*/
input
{
    font: bold 14px/100% "Trebuchet MS", Helvetica, sans-serif;
    border: 3px solid #282828;
    border-radius: 5px;
    box-shadow: 1 1 3px;
    padding: 5px;
    padding-right: 20px;
    text-align: left;
    width: 250px;
    color: #181818;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;

}

input:hover, input:focus,
textarea:hover, textarea:focus 
{
    border-color: #66CC99;
    box-shadow: 0 0 10px;
}

button
{
    font: bold 14px/100% "Trebuchet MS", Helvetica, sans-serif;
    color: #66CC99;
    background-image: url(..//images/btnImg.png);
    border: 2px solid #282828;
    border-radius: 5px;
    box-shadow: 1 1 3px;
    text-align: center;
    width: 100px;
    height: 40px;
}

button:hover, button:focus
{
    border-color: #66CC99;
    box-shadow: 0 0 10px ;
}

a
{
    font: bold 14px/100% "Trebuchet MS", Helvetica, sans-serif;
    color: #66CC99;
    text-align: center;
    padding:10px;
}

a:hover, a:focus
{
    color: #0000FF;
}

/*Drop-Down Styling*/
select
{
    font: bold 14px/100% "Trebuchet MS", Helvetica, sans-serif;
    border: 2px solid #282828;
    border-radius: 5px;
    box-shadow: 1 1 3px;
    padding: 5px;
    padding-right: 20px;
    text-align: left;
    width: 278px;
    color: #181818;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
}

select:hover, select:focus,
textarea:hover, textarea:focus 
{
    border-color: #33CC99;
    box-shadow: 0 0 10px;
}

/*Button Styling*/
#button_div
{
    text-align: center;
}

/*Link Styling*/
#link_div
{
    text-align: center;
    padding:10px;
    color: #CC0000;
}

/*Error Message*/
#error_msg
{
    text-align: center;
    display: none;
    font: bold 12px/100% "Trebuchet MS", Helvetica, sans-serif;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    color: red;
}

/*Alternate elements*/
.type_btn
{
    font: bold 14px/100% "Trebuchet MS", Helvetica, sans-serif;
    color: #66CC99;
    background-image: url(..//images/btnImg.png);
    border: 2px solid #282828;
    border-radius: 5px;
    text-align: center;
    width: 90px;
    height: 40px;
}

.type_btn:hover, .type_btn:focus
{
    border-color: #66CC99;
    box-shadow: 0 0 10px ;
}